- if user_signed_in?
  %h2
    = @organization.name
  %h3
    Hi
    = current_user.first_name

  - @polls.each do |poll|
    %li
      =link_to poll.name, poll_path(poll)
      =link_to "edit", edit_poll_path(poll)
