- if user_signed_in?
  %h2
    = @organization.name
  %h3
    Hi
    = current_user.first_name

  .poll-listing
    - @polls.each do |poll|
      %li.poll-info
        =link_to poll.name, poll_path(poll)
        =link_to "Edit", edit_poll_path(poll)
        =link_to "Analytics", '#'
