%h1
  Edit
  = @poll.name

%h4 Poll-specific Questions
- @questions.each do |q|
  %li
    = q.question
    =link_to "Delete", q, class: 'delete-question', remote: true, method: :delete, data: { confirm: "Are you sure?" }
%h4 ODH Questions
- @odh_questions.each do |q|
  %li
    = q.question
