// Place all the styles related to the survey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Application wide */
$navy-blue: #062342;
$white: #ffffff;
$active-color: #A0AAB6;

.col-lg-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Navbar */
nav.navbar.navbar-default {
  font-size: 18px;
  width: 100%;
  background-color: $navy-blue;
  li > a {
    color: $white;
    padding: 15px 15px 15px 15px;
  }
  li.active > a {
    color: $active-color;
    background-color: $navy-blue !important;
  }
  .navbar-brand {
    color: $white;
    padding-left: 30px;
  }
  li > a:hover {
    color: $active-color !important;
  }
  ul.nav {
    float: right;
  }
  @media (max-width: 769px) {
    ul.nav {
      float: left;
    }
    li > a {
      padding: 10px 30px 10px 30px;
    }
  }
}

/* Survey */
.call-to-action {

}
